body {
    background-color: #272996;
}

header {
    margin: 2vh auto;
}

header, nav, main {
    background-color: rgb(255, 255, 255);
    min-height: 10vh;
}

nav, main {
    min-height: 82vh;
}

@media (min-width: 576px){

}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
    
}