body {
    background-color: #ffffff;
}

header {
    margin: 2vh auto;
}

header, nav, main {
    background-color: rgb(255, 255, 255);
    min-height: 10vh;
}

nav, main {
    min-height: 82vh;
}

.container {
    padding: 2rem;
}

.row > .col,
.row > [class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(243, 117, 32, .15);
    border: 1px solid rgba(243, 117, 32, .2);
}

@media (min-width: 576px){

}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
    
}